*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.footer
{
    padding: 30px 40px;
    width: 100%;
    background: #2b2b2b;
    color: white;
}
.footer .container
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .container .about
{
    margin-left: 260px;
    max-width: 50%;
}
.footer .container .about .detail p
{
    margin-top: 20px;
    font-size: 16px;
}
.footer .container .about .detail .icon
{
    margin-top: 20px;
    display: flex;
}
.footer .container .about .detail .icon li
{
    margin-left: 20px;
    list-style: none;
    padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: 0.5s;
}
.footer .container .about .detail .icon li:hover
{
    background: #0989ff;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.footer .container .page
{
    margin-right: 400px;
    margin-top: 30px;
}
.footer .container .page h3
{
    font-size: 32px;
    color: white;
}
.footer .container .page ul
{
    margin-top: 10px;
    margin-left: 20px;
}
.footer .container .page ul li
{
    margin-top: 5px;
    color: white;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}
.footer .container .page ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer .container .page ul li:hover
{
    color: #bbb4aa;
}