*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.top_banner
{
    padding: 30px 40px;
    width: 100%;
    background: #423f3e;
}
.top_banner .container
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.top_banner .container .detail
{
    margin-top: 8%;
    margin-left: 30px;
}
.top_banner .container .detail h2
{
    font-size: 52px;
    color: #bbb4aa;
    margin-right: 50%;
    margin-bottom: 40px;
}
.top_banner .container .detail .link
{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color:black;
    background: #bbb4aa;
    transition: 0.5s;
}
.top_banner .container .detail .link:hover
{
    background: #0989ff;
    color: #fff;
}
.product_type
{
    padding: 20px 30px;
    width: 100%;
    background: #2b2b2b;
}
.product_type .box
{
    padding: 10px 20px;
    margin-left: 10px;
}
.product_type .box .img_box
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #928f8a;
    overflow: hidden;
    cursor: pointer;
}
.product_type .box .img_box img
{
    height: 80px;
    width: 80px;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-left: 55px;
    transition: 0.5s;
}
.product_type .box .img_box:hover img
{
    transform: scale(1.3);
}
.product_type .box .detail p
{
    margin-top: 10px;
    color: #9a9a9a;
}
.about
{
    background-color: #2b2b2b;
    padding: 40px 50px;
    width: 100%;
}
.about .box
{
    padding: 10px 20px;
    display: flex;
    background: #928f8a;
    width: 270px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
}
.about .box .icon
{
    color: #bbb4aa;
    font-size: 32px;
    margin-top: 10px;
}
.about .box .detail
{
    margin-top: 10px;
    margin-left: 10px;
}
.about .box .detail h3
{
    color: #010f1c;
}
.about .box .detail p
{
    color: black;
}
.product
{
    background-color: #2b2b2b;
    padding: 30px 50px;
    width: 100%;
}
.product h2
{
    font-size: 32px;
    color: #bbb4aa;
    margin-bottom: 20px;
}
.product .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product .box
{
    text-align: center;
    padding: 10px 20px;
    overflow: hidden;
    width: 280px;
    height: 380px;
    border: 1px solid #bbb4aa;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
}
.product .box:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product .box .img_box
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}
.product .box .img_box img
{
    height: 250px;
    margin-right: 300px;
}
.product .box .img_box .icon
{
    z-index: 1;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;
}
.product  .box .img_box:hover .icon
{
    transform: translateX(-30px);
}
.product .box .img_box .icon li
{
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 18px;
}
.product .box .img_box .icon li:hover
{
    background: #0989ff;
    color: #fff;
}
.product .box .detail
{
    margin-top: 10px;
}
.product .box .detail p
{
    color: #9a9a9a;
    font-size: 14px;
}
.product .box .detail h3
{
    font-size: 16px;
    margin-top: 5px;
    color: white;
    transition: 0.5s;
}
.product .box:hover .detail h3
{
    color: #bbb4aa;
}
.product .box .detail h4
{
    margin-top: 5px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
}

.banner .container
{
    padding: 30px 40px;
    background: #423f3e;
    display: flex;
    justify-content: space-between;
}
.banner .container .detail
{
    margin-top: 5%;
    margin-left: 30px;
}
.banner .container .detail h4
{
    color: #c2cbdc;
    font-size: 16px;
    letter-spacing: 1px;
}
.banner .container .detail h3
{
    margin-top: 10px;
    font-size: 42px;
    margin-right: 25%;
    letter-spacing: 1px;
    color: #c2cbdc;
}
.banner .container .detail p
{
    margin-top: 30px;
    color: #c2cbdc;
    font-size: 32px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner .container .detail .link
{
    padding: 10px 30px;
    color: #e8f4ff;
    background: #010f1c;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}
.banner .container .detail .link:hover
{
    color: #010f1c;
    background: #e8f4ff;
}
.product_detail
{
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    z-index: 2;
    margin-top: -20%;
    background: rgba(0, 0, 0, 0.24);
}
.product_detail .container
{
    margin-top: 7%;
    margin-left: 8%;
    width: 1000px;
    height: 550px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product_detail .container .closebtn
{
    padding-top: 60px;
    margin-left: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}
.product_detail .container .productbox
{
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
    justify-content: space-between;
}
.product_detail .container .productbox .img-box
{
    padding: 20px 30px;
    width: 400px;
    height: 350px;
    background: #f1f1f1;
}
.product_detail .container .productbox .img-box img
{
    width: 250px;
    height: 250px;
}
.product_detail .container .productbox .detail
{
    margin-left: 30px;
    margin-top: 10px;
}
.product_detail .container .productbox .detail h4
{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}
.product_detail .container .productbox .detail h2
{
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.product_detail .container .productbox .detail p
{
    margin-top: 10px;
    color: #4a4a4a;
}
.product_detail .container .productbox .detail h3
{
    margin-top: 10px;
    color: #010f1c;
    font-size: 32px;
    letter-spacing: 1px;
}
.product_detail .container .productbox .detail button
{
    margin-top: 30px;
    padding: 15px 60px;
    font-size: 16px;
    color: #fff;
    background: #010f1c;
    transition: 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}
.product_detail .container .productbox .detail button:hover
{
    background: #0989ff;
}